<% provide(:title, 'Home') %>
<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>				
				<%= gravatar_for current_user, size:60 %>					
				<%= current_user.name %></br>				
				<%= link_to("View my profile", current_user) %></br>
				<%= pluralize(current_user.microposts.count, "micropost") %>		
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Micropost feed</h3>
			<% if @feed_items.any? %>
				<ol class="microposts">
					<%= render partial:'shared/feed_item', collection: @feed_items %>
				</ol>
				<%= will_paginate @feed_items %>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
		<h2>Home</h2>
		<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
	</div>
	<%= link_to image_tag("rails.png", alt:"Rails"), '#' %>
<% end %>


