<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h2>
				<%= gravatar_for @user, size:50 %>
				<%= @user.name %>
			</h2>		
		</section>
	</aside>
	<div class="span8">
		<% if @microposts.any? %>
			<%= content_tag(:h3, "Micropost(#{@microposts.count})") %>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
		<% end %>
		<%= will_paginate @microposts %>
	</div>	
</div>
