<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h3>
				<%= gravatar_for @user, size:50 %>
				<%= @user.name %>
			</h3>		
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		
	</aside>
	<div class="span8">
		<%= render 'follow_form' %>
        <%= render 'search_form' %>
		<% if @microposts.any? %>
			<%= content_tag(:h3, "Micropost(#{@microposts.count})") %>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
		<% end %>
		<%= will_paginate @microposts %>
	</div>	
</div>
